.CanvaHomePage {
  background-image: url("../../Media/canvaHomePage.png");
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  max-height: 1080px;
  margin: auto;
}

.phoneDisplay{
  display: none;
}

.createDesignButton {
  position: absolute;
  right: calc(90 / 1920 * 100%);
  top: calc(15 / 1080 * 100%);
  height: calc(60 / 1080 * 100%);
  width:  calc(170 / 1920 * 100%);
  color: var(--white);
  font-size: 0.8vw;
  border-radius: 5px;
  border: 0px;
  background-color: var(--canva);
}

/* right below createDesignBtn, so height + top */
.menuContainer {
  width: 30%;
  height: auto;
  position: absolute;
  right: 60px;
  top: 60px;
  max-height: 100vh;
}

.menuContent {
  width: 27%;
  height: auto;
  max-height: 100vh;
  position: absolute;
  right: 70px;
  top: 80px;
  cursor: pointer;
}

/* screen width sizes based on Canva page's screens changes in these breakpoint */
@media (max-width: 1024px) {
  .createDesignButton {
    right: calc(130 / 1920 * 100%);
    top: calc(15 / 1080 * 100%);
    height: calc(50 / 1080 * 100%);
    width:  calc(270 / 1920 * 100%);
    font-size: 12px;
  }
}

/* tablet screen size */
@media (max-width: 768px) {
  .CanvaHomePage {
    background-image: url("../../Media/tabletHomePage.png");
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .createDesignButton {
    position: absolute;
    right: 140px;
    top: 10px;
    height: 50px;
    width: 153px;
    font-size: 12px;
  }
  .menuContainer {
    width: 55%;
    height: auto;
    position: absolute;
    max-height: 100vh;
    right: 60px;
    top: 60px;
  }
  
  .menuContent {
    width: 50%;
    height: auto;
    max-height: 100vh;
    position: absolute;
    right: 65px;
    top: 70px;
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .CanvaHomePage {
    background-image: url("../../Media/phoneHomePage.png");
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .createDesignButton {
    position: absolute;
    right: 15px;
    top: 85vh;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    font-size: 0;
    content:"+";
    visibility: visible;
  }
  .menuContainer {
    width: 85%;
    height: auto;
    position: absolute;
    right: 5%;
    top: 55vh;
  }
  .menuContent {
    width: 80%;
    height: auto;
    max-height: 100vh;
    position: absolute;
    right: 5%;
    top: 56vh;
    cursor: pointer;
  }
  .phoneDisplay{
    display: inline;
    font-size: 35px;
  }
}
