.fileUploader {
    width: 300px;
    height: 150px;
    border: 2px solid steelblue;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
  }
  
  .fileUploaderDragging {
    background-color: lightblue;
  }
  
  .fileUploaderContents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .fileUploaderFileName {
    font-weight: 700;
  }

  .dropModal {
    background-color: rgb(0, 196, 204, 35%);
    height:  90vh;
    width: 90vw;
    justify-content: center;
    position: relative;
    left: 5%;
    top: 5vh; 
  
  }

  .dropModalText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    position: absolute;
    color: rgb(10,10,10);
    font-weight: bolder;
  }