.moodContainer {
  width: 100%;
  position: relative;
  left: -20px;
}

.optionHeading {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-top: 10px;
}

.optionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 120%;
}

.hidden {
  visibility: hidden;
}

.option {
  width: 100px;
  padding: 0.7rem 1rem;
  border-radius: 6px;
  font-size: 15px;
  background-color: var(--white);
  text-transform: capitalize;
  margin: 0 1.5px 10px;
}

.optionButton {
  border: 1px solid var(--translucent-lightgrey);
}

.clickedOption {
  border: 2px solid var(--purple);
  cursor: disabled;
}

.button {
  position: relative;
  height: 45px;
  width: 310px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
}

.use {
  background-color: var(--grey-button);
  color: var(--black);
  margin-top: 10px;
}

.share {
  font-weight: 500;
  background-color: var(--purple);
  color: var(--white);
  margin-top: 5px;
}

.arrow {
  border: solid var(--arrows);
  border-width: 0 2px 2px 0;
  display: inline;
  padding: 3px;
  position: absolute;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 15px 0 15px;
  left: 60px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 20px 0 15px;
  left: 60px;
}


/* tablet screen size */
@media (max-width: 768px) {
  .optionButton {
    width: 50%;
  }
  .clickedOption {
    border: 2px solid var(--purple);
    cursor: disabled;
    width: 50%;
  }
  .button {
    position: relative;
    height: 45px;
    width: 210px;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
  }
}

@media (max-width: 425px) {
  .optionButton {
    width: 90vw;
  }
  .clickedOption {
    border: 2px solid var(--purple);
    cursor: disabled;
    width: 90vw;
  }
  .button {
    position: relative;
    height: 45px;
    width: 90vw;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
  }
}
