.finalVideoContainer {
  position: relative;
  height: 100%;
  width: 41vw;
  max-height: 70vh;
  min-width: 100%;
  /* margin: 5px 0px; */
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}


.clear {
  /* height: 400px;
  width: 600px; */
  width: 40vw;
    height: 51vh;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--purple);
  margin: 12px 0;
}

.blur {
  /* height: 400px;
  width: 600px; */
  width: 40vw;
  height: 51vh;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  object-fit: cover;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--purple);
  margin: 12px 0;
}

.playBtn {
  width: 50px;
  height: 50px;
  position: absolute;
}

.pauseBtn {
  width: 50px;
  height: 50px;
  position: absolute;
}

.playBtn:hover {
  display: block;
  cursor: pointer;
}

.pauseBtn:hover {
  display: block;
  cursor: pointer;
}

.fadeIn {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

/* Taken from https://www.codegrepper.com/code-examples/typescript/how+to+make+image+fade+in+fade+out+in+css */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 425px) {
  .finalVideoContainer {
    position: relative;
    height: 100vh;
    width:80vw;
    /* max-height: 650px; */
    /* min-width: 100vw;  */
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .clear {
    width: 36vw;
    height: 43vh;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--purple);
    margin: 12px 0;
  }
  
  .blur {
    width: 36vw;
    height: 43vh;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    object-fit: cover;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--purple);
    margin: 12px 0;
  }
  .playBtn {
    width: 30px;
    height: 30px;
    position: absolute;
  }
  
  .pauseBtn {
    width: 30px;
    height: 30px;
    position: absolute;
  }
  
  .playBtn:hover {
    display: block;
    cursor: pointer;
  }
  
  .pauseBtn:hover {
    display: block;
    cursor: pointer;
  }
  
}