@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');

.App {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.canvaHomePage {
    background-color: rgb(220, 220, 220);
    background-image: url('./Media/canvaHomePage.png');
    height:  100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
}

.canvaHomePageText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    position: absolute;
    color: white;
    font-size: 20px;
}
a:link, a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #101C38;
  background-color: transparent;
  text-decoration: underline;
}


body {
  flex-direction: row;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  line-height: 1.6;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #101C38;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.dropModal {
    background-color: rgb(0, 196, 204, 35%);
    height:  90vh;
    width: 90vw;
    justify-content: center;
    position: relative;
    left: 5%;
    top: 5vh; 
  
  }

  .dropModalText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    position: absolute;
    color: rgb(10,10,10);
    font-weight: bolder;
  }