@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lily+Script+One");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --white: #ffffff;
  --semi-translucent-white: #e1e1e1b3;
  --black: #000000;
  --translucent-black: #00000066;
  --semi-translucent-black: #00000033;
  --grey: #808080;
  --lightgrey: #f0efef;
  --darkgrey: #585858;
  --translucent-lightgrey: #8080806b;
  --purple: #8d39fa;
  --canva: #00c4cc;
  --disabled-grey-text: #1e293373;
  --grey-button: #40576d12;
  --hamburger-grey: #dadada;
  --arrows: #11171d99;
  --shuffle-grey: #d4d9ddf8;
}

.App {
  text-align: center;
  display: flex;
    justify-content: center;
}

a:link,
a:visited {
  color: var(--black);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--canva-blue);
  background-color: transparent;
  text-decoration: underline;
}

body {
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  letter-spacing: -0.015em;
  line-height: 1.6;
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
