@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');

:root {
  --half-canva-blue:rgb(0, 196, 204, 50%);
  --light-white: rgb(220, 220, 220);
  --medium-white:rgb(250, 250, 250);
  --brown:rgba(219, 198, 179, 0.445);
  --shadow-black: rgba(0, 0, 0, 0.2);
  --shadow-gray: rgba(0, 0, 0, 0.19);
  --translucent-white: rgba(255, 255, 255, 0.7);
}
.App {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.canvaHomePage {
    background-color: var(--light-white);
    background-image: url('./Media/canvaHomePage.png');
    height:  100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
}

.canvaHomePageText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    position: absolute;
    color: white;
    font-size: 20px;
}
a:link, a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: navy;
  background-color: transparent;
  text-decoration: underline;
}


body {
  flex-direction: row;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  line-height: 1.6;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: navy;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.dropModal {
    background-color: var(--half-canva-blue);
    height:  90vh;
    width: 90vw;
    justify-content: center;
    position: relative;
    left: 5%;
    top: 5vh; 
  
  }

  .dropModalText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    position: absolute;
    color: black;
    font-weight: bolder;
  }