.clear {
	object-fit: contain;
	height: 450px;
	width: 700px;
}

.blur {
	height: 450px;
	width: 700px;
	object-fit: contain;
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	filter: blur(5px);
}

/* medium laptop screen size */
@media only screen and (max-width: 1200px) {
	.clear {
		object-fit: contain;
		height: 350px;
    width: 480px;
    align-self: center;
	}	

	.blur {
		height: 350px;
		width: 480px;
		object-fit: contain;
		-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    align-self: center;
	}
}

/* tablet screen size */
@media only screen and (max-width: 760px) {
	.clear {
		object-fit: contain;
		height: 280px;
		width: 350px;
	}	

	.blur {
		height: 280px;
		width: 350px;
		object-fit: contain;
		-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
		filter: blur(5px);
		margin: 10px;
	}
}

/* mobile screen size */
@media only screen and (max-width: 425px) {
	.clear {
		object-fit: contain;
		height: 480px;
		width: 125x;
	}	

	.blur {
		height: 480px;
		width: 125px;
		object-fit: contain;
		-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
		filter: blur(5px);
		margin: 10px;
	}
}
