.clear {
	object-fit: contain;
	height: 450px;
	width: 700px;
}

.blur {
	height: 450px;
	width: 700px;
	object-fit: contain;
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	filter: blur(5px);
	margin: 10px;
}

.frame {
	border: solid 1px var(--light-white);
	height: 500px;
	width: 90%;
	background-color: black;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-content: center;
	padding: 5px 0;
}

.videoModal {
	height: 80vh;
	width: 990px;
}


/* not used */
.frameContainer {
	width:200px;
	display:inline-block;
	overflow: auto;
	white-space: nowrap;
	margin:0px auto;
}

.previousRound {
	background-color: #f1f1f1;
	color: black;
	border-radius: 50%;
	text-decoration: none;
  	display: inline-block;
	padding: 8px 16px;
	margin: 0 15px;
	align-self: center ;
	cursor: pointer;
}

.disabledPreviousRound {
	background-color: #f1f1f1;
	color: black;
	border-radius: 50%;
	text-decoration: none;
  	display: inline-block;
	padding: 8px 16px;
	margin: 0 15px;
	align-self: center;
}

.nextRound {
	background-color: var(--half-canva-blue);
	color: white;
	border-radius: 50%;
	text-decoration: none;
  	display: inline-block;
	padding: 8px 16px;
	margin: 0 15px;
	align-self: center;
	cursor: pointer;
}

.disabledNextRound {
	background-color: var(--half-canva-blue);
	color: white;
	border-radius: 50%;
	text-decoration: none;
  	display: inline-block;
	padding: 8px 16px;
	margin: 0 15px;
	align-self: center;
}

.previousRound:hover {
	background-color: #ddd;
	/* text color */
  color: black;
}

.nextRound:hover {
	background-color: #ddd;
  color: black;
}
.playButton {
	width: 50px;
	height: 50px;
	cursor: pointer;
	align-self: left;
}

.pauseButton {
	width: 50px;
	height: 50px;
	cursor: pointer;
	align-self: left;
}

.shuffleButton {
	width: 50px;
	height: 50px;
	cursor: pointer;
	position:absolute;
	left: 145px;
	bottom: 345.5px;
}

.tooltip {
	position: relative;
  	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 100px;
	background-color: var(--black);
	color: var(--white);
	text-align: center;
	border-radius: 6px;
	padding: 2px 0;
	position: absolute;
	z-index: 1;
	bottom: 120%;
	left: 50%;
	margin-left: -60px;
	font-size: 0.6rem;
	text-transform: capitalize;
}
.tooltip .tooltiptext:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--black) transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
	visibility: visible;
  }

/* .pauseButton:hover {
	width: 50px;
	height: 50px;
	cursor: pointer;
	align-self: center;
} */

/* medium laptop screen size */
@media only screen and (max-width: 1200px) {
	.playButton {
		width: 30px;
		height: 30px;
		cursor: pointer;
		align-self: left;
	}
	
	.pauseButton {
		width: 30px;
		height: 30px;
		cursor: pointer;
		align-self: left;
		/* display:none; */
	}
	
	
	.clear {
		object-fit: contain;
		height: 340px;
		width: 480px;
	}	

	.blur {
		height: 340px;
		width: 480px;
		object-fit: contain;
		-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
		filter: blur(5px);
	}
  .frame {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    border: solid 1px var(--light-white);
    height: 350px;
		width: 490px;
		/* width: 90%; */
		margin: 0 20px;
	}
	.videoModal {
		height: 80vh;
		width: 950px;
	}
}

/* tablet screen size */
@media only screen and (max-width: 760px) {
	.clear {
		object-fit: contain;
		height: 280px;
		width: 350px;
	}	

	.blur {
		height: 280px;
		width: 350px;
		object-fit: contain;
		-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
		filter: blur(5px);
		margin: 10px;
	}
	.frame {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    border: solid 1px var(--light-white);
    height: 290px;
		width: 360px;
		/* width: 90%; */
		margin: 10px;
	}
	.videoModal {
		height: 80vh;
		width: 460px;
	}
}

/* mobile screen size */
@media only screen and (max-width: 425px) {
	.clear {
		object-fit: contain;
		height: 480px;
		width: 125x;
	}	

	.blur {
		height: 480px;
		width: 125px;
		object-fit: contain;
		-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
		filter: blur(5px);
		margin: 10px;
	}
  .frame {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    border: solid 1px var(--light-white);
    height: 500px;
		/* width: 150px; */
		width: 90%;
		margin: 10px;
	}
	.videoModal {
		height: 80vh;
		width: 250px;
	}
}
